POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-postgres-password
POSTGRES_DB=diplom_db

DATABASE_URL=postgresql+asyncpg://postgres:change-this-postgres-password@postgres:5432/diplom_db
DATABASE_SSL=false
JWT_SECRET=change-this-to-a-long-random-secret
CORS_ORIGINS=https://react.diploma-daniel-front.xyz,https://vue.diploma-daniel-front.xyz,https://svelte.diploma-daniel-front.xyz

VITE_API_URL=https://api.diploma-daniel-front.xyz
